JWT_ACCESS_SECRET="your_access_token_secret_from_nest"
NEXT_PUBLIC_API_URL=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
API_URL=""
# If you want to skip env validation, set this as string
SKIP_ENV_VALIDATION=""